Repository woodpecker-ci/woodpecker: changes, and which Woodpecker steps are due for each by the changed paths.
All: build-cli, build, securitycheck, deploy-preview, deploy-prepare, deploy, forgejo, forgejo-wait, test, set-version, lint, release, test-schema, lxc, vendor, lint-pipeline, dummy-web, check_swagger, sqlite, postgres, mysql, codecov, deps, formatcheck, typecheck

Path conditions:
  build-cli: any of: docs/**, .woodpecker/docs.yml, cli/**, cmd/cli/**
  build: any of: docs/**, .woodpecker/docs.yml, cli/**, cmd/cli/**
  securitycheck: any of: docs/**, .woodpecker/docs.yml, cli/**, cmd/cli/**
  deploy-preview: any of: docs/**, .woodpecker/docs.yml, cli/**, cmd/cli/**
  deploy-prepare: any of: docs/**, .woodpecker/docs.yml, cli/**, cmd/cli/**
  deploy: any of: docs/**, .woodpecker/docs.yml, cli/**, cmd/cli/**
  forgejo: any of: .woodpecker/forgejo.yml, server/forge/forgejo/**, cmd/server/flags.go, cmd/server/setup.go, contrib/woodpecker-test-repo/*
  forgejo-wait: any of: .woodpecker/forgejo.yml, server/forge/forgejo/**, cmd/server/flags.go, cmd/server/setup.go, contrib/woodpecker-test-repo/*
  test: (any of: .woodpecker/forgejo.yml, server/forge/forgejo/**, cmd/server/flags.go, cmd/server/setup.go, contrib/woodpecker-test-repo/*) or (any of: .woodpecker/test.yml, .golangci.yml, **/*.go, go.*, pipeline/schema/**) or (any of: .woodpecker/web.yml, web/**, server/api/**)
  set-version: any of: charts/**, .woodpecker/helm.yml
  lint: (any of: charts/**, .woodpecker/helm.yml) or (any of: .woodpecker/test.yml, .golangci.yml, **/*.go, go.*, pipeline/schema/**) or (any of: .woodpecker/web.yml, web/**, server/api/**)
  release: any of: charts/**, .woodpecker/helm.yml
  test-schema: any of: server/pipeline-schema/**
  lxc: any of: .woodpecker/lxc.yml, pipeline/backend/lxc/**
  vendor: any of: .woodpecker/test.yml, .golangci.yml, **/*.go, go.*, pipeline/schema/**
  lint-pipeline: (any of: .woodpecker/test.yml, .golangci.yml, **/*.go, go.*, pipeline/schema/**) or (any of: .woodpecker/**, pipeline/schema/**)
  dummy-web: any of: .woodpecker/test.yml, .golangci.yml, **/*.go, go.*, pipeline/schema/**
  check_swagger: any of: .woodpecker/test.yml, .golangci.yml, **/*.go, go.*, pipeline/schema/**
  sqlite: any of: .woodpecker/test.yml, .golangci.yml, **/*.go, go.*, pipeline/schema/**
  postgres: any of: .woodpecker/test.yml, .golangci.yml, **/*.go, go.*, pipeline/schema/**
  mysql: any of: .woodpecker/test.yml, .golangci.yml, **/*.go, go.*, pipeline/schema/**
  codecov: any of: .woodpecker/test.yml, .golangci.yml, **/*.go, go.*, pipeline/schema/**
  deps: any of: .woodpecker/web.yml, web/**, server/api/**
  formatcheck: any of: .woodpecker/web.yml, web/**, server/api/**
  typecheck: any of: .woodpecker/web.yml, web/**, server/api/**

Apply suggestions from code review
  docs/docs/20-usage/20-pipeline-syntax.md
Due: build-cli, build, securitycheck, deploy-preview, deploy-prepare, deploy

adjust steps
  pipeline/frontend/yaml/parse_test.go
  pipeline/stepBuilder_test.go
Due: test, lint, vendor, lint-pipeline, dummy-web, check_swagger, sqlite, postgres, mysql, codecov

Better blog title/desc
  docs/docusaurus.config.js
Due: build-cli, build, securitycheck, deploy-preview, deploy-prepare, deploy

Better blog title/desc (#2182)
  docs/docusaurus.config.js
Due: build-cli, build, securitycheck, deploy-preview, deploy-prepare, deploy

add upcommong deprecation in latest docs
  docs/versioned_docs/version-1.0/20-usage/20-pipeline-syntax.md
Due: build-cli, build, securitycheck, deploy-preview, deploy-prepare, deploy

Fail hard on deprecated pipeline keys (#2180)
  docs/docs/91-migrations.md
  pipeline/frontend/yaml/parse.go
  pipeline/frontend/yaml/parse_test.go
  pipeline/stepBuilder_test.go
Due: build-cli, build, securitycheck, deploy-preview, deploy-prepare, deploy, test, lint, vendor, lint-pipeline, dummy-web, check_swagger, sqlite, postgres, mysql, codecov

fine-tuning
  pipeline/frontend/yaml/parse.go
  pipeline/frontend/yaml/parse_test.go
  pipeline/frontend/yaml/types/base/map.go
Due: test, lint, vendor, lint-pipeline, dummy-web, check_swagger, sqlite, postgres, mysql, codecov

Deprecate "platform" filter in favour of "labels" (#2181)
  docs/docs/20-usage/20-pipeline-syntax.md
  docs/docs/91-migrations.md
  docs/versioned_docs/version-1.0/20-usage/20-pipeline-syntax.md
  pipeline/frontend/yaml/parse.go
  pipeline/frontend/yaml/parse_test.go
  pipeline/frontend/yaml/types/base/map.go
  pipeline/frontend/yaml/types/workflow.go
  pipeline/stepBuilder.go
  server/pipeline/queue.go
Due: build-cli, build, securitycheck, deploy-preview, deploy-prepare, deploy, test, lint, vendor, lint-pipeline, dummy-web, check_swagger, sqlite, postgres, mysql, codecov

first start writing tests :)
  pipeline/backend/types/stage.go
  pipeline/frontend/yaml/compiler/compiler_test.go
Due: test, lint, vendor, lint-pipeline, dummy-web, check_swagger, sqlite, postgres, mysql, codecov

Add TestCompilerCompile
  pipeline/frontend/yaml/compiler/compiler_test.go
Due: test, lint, vendor, lint-pipeline, dummy-web, check_swagger, sqlite, postgres, mysql, codecov

Start with StepsDAG in backend
  go.mod
  go.sum
  pipeline/backend/types/stage.go
Due: test, lint, vendor, lint-pipeline, dummy-web, check_swagger, sqlite, postgres, mysql, codecov

wip
  pipeline/backend/types/stage.go
  pipeline/backend/types/step.go
Due: test, lint, vendor, lint-pipeline, dummy-web, check_swagger, sqlite, postgres, mysql, codecov

bump xorm.io to db7c2640627d24539aa4607f50bcba7037ddd9e6
  go.mod
  go.sum
Due: test, lint, vendor, lint-pipeline, dummy-web, check_swagger, sqlite, postgres, mysql, codecov

Translated using Weblate (German)
  web/src/assets/locales/de.json
Due: test, lint, deps, formatcheck, typecheck

fix error message
  pipeline/frontend/yaml/parse.go
Due: test, lint, vendor, lint-pipeline, dummy-web, check_swagger, sqlite, postgres, mysql, codecov

bump xorm.io to db7c2640627d (#2185)
  go.mod
  go.sum
Due: test, lint, vendor, lint-pipeline, dummy-web, check_swagger, sqlite, postgres, mysql, codecov

bump xorm.io to db7c2640627d (#2185) (#2186)
  go.mod
  go.sum
Due: test, lint, vendor, lint-pipeline, dummy-web, check_swagger, sqlite, postgres, mysql, codecov

Switch to upstream ttlcache
  go.mod
  go.sum
  server/cache/membership.go
Due: test, lint, vendor, lint-pipeline, dummy-web, check_swagger, sqlite, postgres, mysql, codecov

Switch to upstream ttlcache (#2187)
  go.mod
  go.sum
  server/cache/membership.go
Due: test, lint, vendor, lint-pipeline, dummy-web, check_swagger, sqlite, postgres, mysql, codecov

Use browser-native tooltips
  web/package.json
  web/pnpm-lock.yaml
  web/src/components/pipeline-feed/PipelineFeedItem.vue
  web/src/components/repo/pipeline/PipelineItem.vue
  web/src/main.ts
  web/src/views/repo/pipeline/PipelineWrapper.vue
Due: test, lint, deps, formatcheck, typecheck

Add TestCompilerCompile (#2183)
  pipeline/frontend/yaml/compiler/compiler_test.go
Due: test, lint, vendor, lint-pipeline, dummy-web, check_swagger, sqlite, postgres, mysql, codecov

Show all steps
  web/src/components/repo/pipeline/PipelineStepList.vue
Due: test, lint, deps, formatcheck, typecheck

Show all steps (#2190)
  web/src/components/repo/pipeline/PipelineStepList.vue
Due: test, lint, deps, formatcheck, typecheck

Show all steps (#2190) (#2191)
  web/src/components/repo/pipeline/PipelineStepList.vue
Due: test, lint, deps, formatcheck, typecheck

restructure k8s documentation
  docs/docs/30-administration/00-setup.md
  docs/docs/30-administration/22-backends/40-kubernetes.md
  docs/docs/30-administration/80-kubernetes.md
Due: build-cli, build, securitycheck, deploy-preview, deploy-prepare, deploy

refs
  docs/docs/30-administration/00-setup.md
Due: build-cli, build, securitycheck, deploy-preview, deploy-prepare, deploy

add example for resources definition
  docs/docs/30-administration/22-backends/40-kubernetes.md
Due: build-cli, build, securitycheck, deploy-preview, deploy-prepare, deploy

use list instead of headrs
  docs/docs/30-administration/22-backends/40-kubernetes.md
Due: build-cli, build, securitycheck, deploy-preview, deploy-prepare, deploy

add example for definining env vars
  docs/docs/30-administration/22-backends/40-kubernetes.md
Due: build-cli, build, securitycheck, deploy-preview, deploy-prepare, deploy

refine
  docs/docs/30-administration/22-backends/40-kubernetes.md
Due: build-cli, build, securitycheck, deploy-preview, deploy-prepare, deploy

Update 92-awesome.md
  docs/docs/92-awesome.md
Due: build-cli, build, securitycheck, deploy-preview, deploy-prepare, deploy

Update 92-awesome.md (#2195)
  docs/docs/92-awesome.md
Due: build-cli, build, securitycheck, deploy-preview, deploy-prepare, deploy

Update list of "projects using Woodpecker" (#2196)
  docs/docs/92-awesome.md
Due: build-cli, build, securitycheck, deploy-preview, deploy-prepare, deploy

Remove locale
  web/src/assets/locales/en.json
Due: test, lint, deps, formatcheck, typecheck

Translated using Weblate (Indonesian)
  web/src/assets/locales/id.json
Due: test, lint, deps, formatcheck, typecheck
