Repository woodpecker-ci/woodpecker: changes, and which Woodpecker steps are due for each by the changed paths.
All: build-cli, build, securitycheck, deploy-preview, deploy-prepare, deploy, forgejo, forgejo-wait, test, set-version, lint, release, test-schema, lxc, vendor, lint-pipeline, dummy-web, check_swagger, lint-license-header, sqlite, postgres, mysql, codecov, deps, formatcheck, typecheck

build-cli:
  image: golang:1.18.7
  commands:
  - make docs

build:
  image: node:18-alpine
  directory: docs/
  commands:
  - corepack enable
  - pnpm install --frozen-lockfile
  - pnpm build

securitycheck:
  image: aquasec/trivy:latest
  commands:
  - trivy fs --exit-code 0 --skip-dirs node_modules/ --skip-dirs plugins/woodpecker-plugins/node_modules --severity UNKNOWN,LOW docs/
  ...

deploy-preview:
  image: woodpeckerci/plugin-surge-preview:next
  settings:
    path: docs/build/
    surge_token:
      from_secret: SURGE_TOKEN
    forge_type: github
    forge_url: https://github.com
    forge_repo_token:
      from_secret: GITHUB_TOKEN_SURGE

deploy-prepare:
  image: alpine
  commands:
  - apk add --no-cache git rsync
  - git clone -b ${CI_REPO_DEFAULT_BRANCH} --single-branch https://github.com/woodpecker-ci/woodpecker-ci.github.io pages_repo

deploy:
  image: appleboy/drone-git-push
  secrets:
  - BOT_PRIVATE_KEY
  settings:
    branch: ${CI_REPO_DEFAULT_BRANCH}
    ssh_key:
      from_secret: BOT_PRIVATE_KEY
    remote: git@github.com:woodpecker-ci/woodpecker-ci.github.io.git
    author_name: woodpecker-bot
    author_email: woodpecker-bot@obermui.de
  ...

forgejo:
  detach: true
  image: codeberg.org/forgejo/forgejo:1.18
  pull: true
  ports:
  - '80'
  environment:
  - FORGEJO__security__INSTALL_LOCK=true
  - FORGEJO__server__HTTP_PORT=80
  - FORGEJO__server__ROOT_URL=http://forgejo/
  - FORGEJO__repository__ENABLE_PUSH_CREATE_USER=true
  commands: '/usr/bin/entrypoint &
  
  ...

forgejo-wait:
  image: golang:1.19
  commands:
  - for i in $(seq 60) ; do test -f /woodpecker/token-admin && break ; sleep 1 ; done
  - test -f /woodpecker/token-admin

test:
  image: golang:1.19
  group: test
  commands: 'apt-get update --quiet && apt-get install -y -qq jq
  
    /woodpecker/api -X POST --data-binary ''{"username": "myorg"}'' http://forgejo/api/v1/orgs
  
    owners=$(/woodpecker/api http://forgejo/api/v1/orgs/myorg/teams | jq ''.[0].id'')
  
  ...

set-version:
  image: alpine/helm:3.5.3
  commands:
  - export CHART_VERSION="${CI_COMMIT_TAG##v}"
  - export CHART_VERSION=$${CHART_VERSION:=0.0.0}
  - echo "Version $CHART_VERSION"
  - sed -i "s/<version>/$CHART_VERSION/g" charts/woodpecker-agent/Chart.yaml
  ...

lint:
  image: alpine/helm:3.5.3
  commands:
  - helm lint charts/woodpecker-agent/
  - helm lint charts/woodpecker-server/

release:
  image: quay.io/helmpack/chart-releaser:v1.4.0
  secrets:
  - source: github_token
    target: CR_TOKEN
  commands:
  - git config --global user.email "woodpecker-bot@obermui.de"
  - git config --global user.name "woodpecker-bot"
  - mkdir -p .cr-index
  - cr package charts/woodpecker-server
  ...

test-schema:
  image: golang:1.16
  commands:
  - go test -timeout 30s github.com/woodpecker-ci/woodpecker/server/pipeline-schema/test

vendor:
  image: golang:1.20.2
  group: prepare
  commands:
  - go mod vendor

lint-pipeline:
  image: golang:1.20.2
  commands:
  - go run github.com/woodpecker-ci/woodpecker/cmd/cli lint

Set correct version for release branch releases (#2227)
  Makefile
Due: none

Set correct version for release branch releases (#2227) (#2229)
  Makefile
Due: none

cleanup: we dont have default filters anymore so we can just remove it
  pipeline/frontend/yaml/constraint/constraint.go
Due: test, lint, vendor, lint-pipeline, dummy-web, check_swagger, lint-license-header, sqlite, postgres, mysql, codecov

make custom errors follow std err conventions
  server/pipeline/approve.go
  server/pipeline/create.go
  server/pipeline/errors.go
Due: test, lint, vendor, lint-pipeline, dummy-web, check_swagger, lint-license-header, sqlite, postgres, mysql, codecov

just another nit fix
  Makefile
Due: none

Revert "cleanup: we dont have default filters anymore so we can just remove it"
  pipeline/frontend/yaml/constraint/constraint.go
Due: test, lint, vendor, lint-pipeline, dummy-web, check_swagger, lint-license-header, sqlite, postgres, mysql, codecov

pipeline: disable codecov upload
  .woodpecker/test.yml
Due: test, lint, vendor, lint-pipeline, dummy-web, check_swagger, lint-license-header, sqlite, postgres, mysql, codecov

make it work on arm
  .woodpecker/test.yml
Due: test, lint, vendor, lint-pipeline, dummy-web, check_swagger, lint-license-header, sqlite, postgres, mysql, codecov

enforce to run all on arm
  .woodpecker/binaries.yml
  .woodpecker/docker.yml
  .woodpecker/docs.yml
  .woodpecker/test.yml
  .woodpecker/web.yml
Due: build-cli, build, securitycheck, deploy-preview, deploy-prepare, deploy, test, lint, vendor, lint-pipeline, dummy-web, check_swagger, lint-license-header, sqlite, postgres, mysql, codecov, deps, formatcheck, typecheck

untouch already tested
  .woodpecker/docs.yml
  .woodpecker/web.yml
Due: build-cli, build, securitycheck, deploy-preview, deploy-prepare, deploy, test, lint, lint-pipeline, deps, formatcheck, typecheck

test next stages
  .woodpecker/binaries.yml
  .woodpecker/docker.yml
Due: lint-pipeline

suggestion
  server/pipeline/approve.go
  server/pipeline/create.go
  server/pipeline/errors.go
Due: test, lint, vendor, lint-pipeline, dummy-web, check_swagger, lint-license-header, sqlite, postgres, mysql, codecov

pipeline: fix VERSION_NUMBER
  Makefile
Due: none

Return 204 not 500 on filtered pipeline (#2230)
  server/pipeline/create.go
  server/pipeline/errors.go
Due: test, lint, vendor, lint-pipeline, dummy-web, check_swagger, lint-license-header, sqlite, postgres, mysql, codecov

Move "skip ci" logic into global pipeline conditions (#2216)
  .vscode/settings.json
  Makefile
  pipeline/frontend/yaml/constraint/constraint.go
  server/api/hook.go
  server/pipeline/create.go
  server/pipeline/errors.go
Due: test, lint, vendor, lint-pipeline, dummy-web, check_swagger, lint-license-header, sqlite, postgres, mysql, codecov, deps, formatcheck, typecheck

Dockerfile: allow CI_COMMIT_SHA CI_COMMIT_TAG CI_COMMIT_BRANCH to be passed down to make
  docker/Dockerfile.agent.alpine.multiarch
  docker/Dockerfile.agent.multiarch
  docker/Dockerfile.cli.alpine.multiarch
  docker/Dockerfile.cli.multiarch
Due: none

pass needed CI env vars down to make in docker build
  .woodpecker/docker.yml
Due: lint-pipeline

local backend: clone: check if scm is git first
  pipeline/backend/local/clone.go
Due: test, lint, vendor, lint-pipeline, dummy-web, check_swagger, lint-license-header, sqlite, postgres, mysql, codecov

add support for "plugins" on local backend
  pipeline/backend/local/local.go
Due: test, lint, vendor, lint-pipeline, dummy-web, check_swagger, lint-license-header, sqlite, postgres, mysql, codecov

rm redundant comment
  pipeline/backend/local/local.go
Due: test, lint, vendor, lint-pipeline, dummy-web, check_swagger, lint-license-header, sqlite, postgres, mysql, codecov

bump github.com/6543/logfile-open to make woodpecker compile on windows again
  go.mod
  go.sum
Due: test, lint, vendor, lint-pipeline, dummy-web, check_swagger, lint-license-header, sqlite, postgres, mysql, codecov

windows respect context too
  go.mod
  go.sum
Due: test, lint, vendor, lint-pipeline, dummy-web, check_swagger, lint-license-header, sqlite, postgres, mysql, codecov

docs: local backend: address todo as we have v1.0.x releases available
  docs/docs/30-administration/22-backends/20-local.md
  docs/versioned_docs/version-1.0/30-administration/22-backends/20-local.md
Due: build-cli, build, securitycheck, deploy-preview, deploy-prepare, deploy

update docs acordingly
  docs/docs/30-administration/22-backends/20-local.md
Due: build-cli, build, securitycheck, deploy-preview, deploy-prepare, deploy

make explicite lookup and improve docs
  docs/docs/30-administration/22-backends/20-local.md
  pipeline/backend/local/local.go
Due: build-cli, build, securitycheck, deploy-preview, deploy-prepare, deploy, test, lint, vendor, lint-pipeline, dummy-web, check_swagger, lint-license-header, sqlite, postgres, mysql, codecov

Update pipeline/backend/local/clone.go
  pipeline/backend/local/clone.go
Due: test, lint, vendor, lint-pipeline, dummy-web, check_swagger, lint-license-header, sqlite, postgres, mysql, codecov

Update pipeline/backend/local/local.go
  pipeline/backend/local/local.go
Due: test, lint, vendor, lint-pipeline, dummy-web, check_swagger, lint-license-header, sqlite, postgres, mysql, codecov

just always pass it down
  .woodpecker/docker.yml
Due: lint-pipeline

fix regression and add trace
  pipeline/backend/local/clone.go
Due: test, lint, vendor, lint-pipeline, dummy-web, check_swagger, lint-license-header, sqlite, postgres, mysql, codecov

just more trace logging for development ;)
  pipeline/backend/local/clone.go
Due: test, lint, vendor, lint-pipeline, dummy-web, check_swagger, lint-license-header, sqlite, postgres, mysql, codecov

if complier WithProxy gets all empty options, it does not set them
  pipeline/frontend/yaml/compiler/option.go
Due: test, lint, vendor, lint-pipeline, dummy-web, check_swagger, lint-license-header, sqlite, postgres, mysql, codecov

no echo ;)
  pipeline/backend/local/clone.go
Due: test, lint, vendor, lint-pipeline, dummy-web, check_swagger, lint-license-header, sqlite, postgres, mysql, codecov

use export
  pipeline/backend/local/clone.go
Due: test, lint, vendor, lint-pipeline, dummy-web, check_swagger, lint-license-header, sqlite, postgres, mysql, codecov

Apply suggestions from code review
  pipeline/frontend/yaml/compiler/option.go
Due: test, lint, vendor, lint-pipeline, dummy-web, check_swagger, lint-license-header, sqlite, postgres, mysql, codecov

Skip settings proxy config with WithProxy if its empty (#2242)
  pipeline/frontend/yaml/compiler/option.go
Due: test, lint, vendor, lint-pipeline, dummy-web, check_swagger, lint-license-header, sqlite, postgres, mysql, codecov

Handle parsed hooks that should be ignored
  server/forge/gitea/gitea.go
Due: test, lint, vendor, lint-pipeline, dummy-web, check_swagger, lint-license-header, sqlite, postgres, mysql, codecov

Path conditions:
  build-cli: any of: docs/**, .woodpecker/docs.yml, cli/**, cmd/cli/**
  build: any of: docs/**, .woodpecker/docs.yml, cli/**, cmd/cli/**
  securitycheck: any of: docs/**, .woodpecker/docs.yml, cli/**, cmd/cli/**
  deploy-preview: any of: docs/**, .woodpecker/docs.yml, cli/**, cmd/cli/**
  deploy-prepare: any of: docs/**, .woodpecker/docs.yml, cli/**, cmd/cli/**
  deploy: any of: docs/**, .woodpecker/docs.yml, cli/**, cmd/cli/**
  forgejo: any of: .woodpecker/forgejo.yml, server/forge/forgejo/**, cmd/server/flags.go, cmd/server/setup.go, contrib/woodpecker-test-repo/*
  forgejo-wait: any of: .woodpecker/forgejo.yml, server/forge/forgejo/**, cmd/server/flags.go, cmd/server/setup.go, contrib/woodpecker-test-repo/*
  test: (any of: .woodpecker/forgejo.yml, server/forge/forgejo/**, cmd/server/flags.go, cmd/server/setup.go, contrib/woodpecker-test-repo/*) or (any of: .woodpecker/test.yml, .golangci.yml, **/*.go, go.*, pipeline/schema/**) or (any of: .woodpecker/web.yml, web/**, server/api/**)
  set-version: any of: charts/**, .woodpecker/helm.yml
  lint: (any of: charts/**, .woodpecker/helm.yml) or (any of: .woodpecker/test.yml, .golangci.yml, **/*.go, go.*, pipeline/schema/**) or (any of: .woodpecker/web.yml, web/**, server/api/**)
  release: any of: charts/**, .woodpecker/helm.yml
  test-schema: any of: server/pipeline-schema/**
  lxc: any of: .woodpecker/lxc.yml, pipeline/backend/lxc/**
  vendor: any of: .woodpecker/test.yml, .golangci.yml, **/*.go, go.*, pipeline/schema/**
  lint-pipeline: (any of: .woodpecker/test.yml, .golangci.yml, **/*.go, go.*, pipeline/schema/**) or (any of: .woodpecker/**, pipeline/schema/**)
  dummy-web: any of: .woodpecker/test.yml, .golangci.yml, **/*.go, go.*, pipeline/schema/**
  check_swagger: any of: .woodpecker/test.yml, .golangci.yml, **/*.go, go.*, pipeline/schema/**
  lint-license-header: any of: .woodpecker/test.yml, .golangci.yml, **/*.go, go.*, pipeline/schema/**
  sqlite: any of: .woodpecker/test.yml, .golangci.yml, **/*.go, go.*, pipeline/schema/**
  postgres: any of: .woodpecker/test.yml, .golangci.yml, **/*.go, go.*, pipeline/schema/**
  mysql: any of: .woodpecker/test.yml, .golangci.yml, **/*.go, go.*, pipeline/schema/**
  codecov: any of: .woodpecker/test.yml, .golangci.yml, **/*.go, go.*, pipeline/schema/**
  deps: any of: .woodpecker/web.yml, web/**, server/api/**
  formatcheck: any of: .woodpecker/web.yml, web/**, server/api/**
  typecheck: any of: .woodpecker/web.yml, web/**, server/api/**
