Repository woodpecker-ci/woodpecker: changes, and which Woodpecker steps are due for each by the changed paths.
All: build-cli, build, securitycheck, deploy-preview, deploy-prepare, deploy, forgejo, forgejo-wait, test, set-version, lint, release, test-schema, lxc, vendor, lint-pipeline, dummy-web, check_swagger, sqlite, postgres, mysql, codecov, deps, formatcheck, typecheck

Path conditions:
  build-cli: any of: docs/**, .woodpecker/docs.yml, cli/**, cmd/cli/**
  build: any of: docs/**, .woodpecker/docs.yml, cli/**, cmd/cli/**
  securitycheck: any of: docs/**, .woodpecker/docs.yml, cli/**, cmd/cli/**
  deploy-preview: any of: docs/**, .woodpecker/docs.yml, cli/**, cmd/cli/**
  deploy-prepare: any of: docs/**, .woodpecker/docs.yml, cli/**, cmd/cli/**
  deploy: any of: docs/**, .woodpecker/docs.yml, cli/**, cmd/cli/**
  forgejo: any of: .woodpecker/forgejo.yml, server/forge/forgejo/**, cmd/server/flags.go, cmd/server/setup.go, contrib/woodpecker-test-repo/*
  forgejo-wait: any of: .woodpecker/forgejo.yml, server/forge/forgejo/**, cmd/server/flags.go, cmd/server/setup.go, contrib/woodpecker-test-repo/*
  test: (any of: .woodpecker/forgejo.yml, server/forge/forgejo/**, cmd/server/flags.go, cmd/server/setup.go, contrib/woodpecker-test-repo/*) or (any of: .woodpecker/test.yml, .golangci.yml, **/*.go, go.*, pipeline/schema/**) or (any of: .woodpecker/web.yml, web/**, server/api/**)
  set-version: any of: charts/**, .woodpecker/helm.yml
  lint: (any of: charts/**, .woodpecker/helm.yml) or (any of: .woodpecker/test.yml, .golangci.yml, **/*.go, go.*, pipeline/schema/**) or (any of: .woodpecker/web.yml, web/**, server/api/**)
  release: any of: charts/**, .woodpecker/helm.yml
  test-schema: any of: server/pipeline-schema/**
  lxc: any of: .woodpecker/lxc.yml, pipeline/backend/lxc/**
  vendor: any of: .woodpecker/test.yml, .golangci.yml, **/*.go, go.*, pipeline/schema/**
  lint-pipeline: (any of: .woodpecker/test.yml, .golangci.yml, **/*.go, go.*, pipeline/schema/**) or (any of: .woodpecker/**, pipeline/schema/**)
  dummy-web: any of: .woodpecker/test.yml, .golangci.yml, **/*.go, go.*, pipeline/schema/**
  check_swagger: any of: .woodpecker/test.yml, .golangci.yml, **/*.go, go.*, pipeline/schema/**
  sqlite: any of: .woodpecker/test.yml, .golangci.yml, **/*.go, go.*, pipeline/schema/**
  postgres: any of: .woodpecker/test.yml, .golangci.yml, **/*.go, go.*, pipeline/schema/**
  mysql: any of: .woodpecker/test.yml, .golangci.yml, **/*.go, go.*, pipeline/schema/**
  codecov: any of: .woodpecker/test.yml, .golangci.yml, **/*.go, go.*, pipeline/schema/**
  deps: any of: .woodpecker/web.yml, web/**, server/api/**
  formatcheck: any of: .woodpecker/web.yml, web/**, server/api/**
  typecheck: any of: .woodpecker/web.yml, web/**, server/api/**

Fix lint/tc
  web/src/components/user/UserAPITab.vue
  web/src/components/user/UserSettingsTab.vue
  web/src/views/User.vue
Due: test, lint, deps, formatcheck, typecheck

Fix alt text contrast in code boxes
  web/src/components/repo/pipeline/PipelineLog.vue
  web/src/style.css
  web/windi.config.ts
Due: test, lint, deps, formatcheck, typecheck

Fix woodpecker-go
  woodpecker-go/woodpecker/client.go
  woodpecker-go/woodpecker/interface.go
Due: test, lint, vendor, lint-pipeline, dummy-web, check_swagger, sqlite, postgres, mysql, codecov

Fix alt text contrast in code boxes (#2089)
  web/src/components/repo/pipeline/PipelineLog.vue
  web/src/style.css
  web/windi.config.ts
Due: test, lint, deps, formatcheck, typecheck

fix lint
  cli/repo/repo_sync.go
Due: build-cli, build, securitycheck, deploy-preview, deploy-prepare, deploy, test, lint, vendor, lint-pipeline, dummy-web, check_swagger, sqlite, postgres, mysql, codecov

client.go: Fix RepoPost path
  woodpecker-go/woodpecker/client.go
Due: test, lint, vendor, lint-pipeline, dummy-web, check_swagger, sqlite, postgres, mysql, codecov

Allow to disable swagger
  cmd/server/flags.go
  cmd/server/server.go
  docs/docs/30-administration/10-server-config.md
  server/config.go
  server/router/router.go
  server/web/config.go
  web/src/components/layout/header/Navbar.vue
  web/src/compositions/useConfig.ts
  web/src/views/User.vue
Due: build-cli, build, securitycheck, deploy-preview, deploy-prepare, deploy, forgejo, forgejo-wait, test, lint, vendor, lint-pipeline, dummy-web, check_swagger, sqlite, postgres, mysql, codecov, deps, formatcheck, typecheck

improved syntax
  woodpecker-go/woodpecker/client.go
Due: test, lint, vendor, lint-pipeline, dummy-web, check_swagger, sqlite, postgres, mysql, codecov

Update translation docs and fix time format
  docs/docs/92-development/07-translations.md
  web/src/compositions/useDate.ts
  web/src/utils/timeAgo.ts
Due: build-cli, build, securitycheck, deploy-preview, deploy-prepare, deploy, test, lint, deps, formatcheck, typecheck

Lazy loading for TimeAgo locales
  web/.gitignore
  web/src/components/admin/settings/AdminAgentsTab.vue
  web/src/components/pipeline-feed/PipelineFeedItem.vue
  web/src/compositions/useI18n.ts
  web/src/compositions/usePipeline.ts
  web/src/compositions/useTimeAgo.ts
  web/src/utils/timeAgo.ts
  web/vite.config.ts
Due: test, lint, deps, formatcheck, typecheck

fmt
  server/config.go
Due: test, lint, vendor, lint-pipeline, dummy-web, check_swagger, sqlite, postgres, mysql, codecov

Support bitbucket Dir() / multi-workflows (#2045)
  docs/docs/30-administration/11-forges/10-overview.md
  server/forge/bitbucket/bitbucket.go
  server/forge/bitbucket/bitbucket_test.go
  server/forge/bitbucket/fixtures/handler.go
  server/forge/bitbucket/internal/client.go
  server/forge/bitbucket/internal/types.go
Due: build-cli, build, securitycheck, deploy-preview, deploy-prepare, deploy, test, lint, vendor, lint-pipeline, dummy-web, check_swagger, sqlite, postgres, mysql, codecov

Add blog posts/tutorials
  docs/docs/92-awesome.md
Due: build-cli, build, securitycheck, deploy-preview, deploy-prepare, deploy

Add blog posts/tutorials (#2095)
  docs/docs/92-awesome.md
Due: build-cli, build, securitycheck, deploy-preview, deploy-prepare, deploy

Update translation files
  web/src/assets/locales/de.json
  web/src/assets/locales/fr.json
  web/src/assets/locales/it.json
  web/src/assets/locales/lv.json
  web/src/assets/locales/zh-Hans.json
Due: test, lint, deps, formatcheck, typecheck

Add BranchHead tests
  server/forge/bitbucket/bitbucket_test.go
  server/forge/bitbucket/fixtures/handler.go
Due: test, lint, vendor, lint-pipeline, dummy-web, check_swagger, sqlite, postgres, mysql, codecov

Add PullRequests test
  server/forge/bitbucket/bitbucket_test.go
  server/forge/bitbucket/fixtures/handler.go
Due: test, lint, vendor, lint-pipeline, dummy-web, check_swagger, sqlite, postgres, mysql, codecov

Add some testsvfor bitbucket forge (#2097)
  server/forge/bitbucket/bitbucket_test.go
  server/forge/bitbucket/fixtures/handler.go
Due: test, lint, vendor, lint-pipeline, dummy-web, check_swagger, sqlite, postgres, mysql, codecov

Update translation files
  web/src/assets/locales/de.json
  web/src/assets/locales/fr.json
  web/src/assets/locales/lv.json
  web/src/assets/locales/zh-Hans.json
Due: test, lint, deps, formatcheck, typecheck

client: Fix RepoPost path (#2091)
  woodpecker-go/woodpecker/client.go
Due: test, lint, vendor, lint-pipeline, dummy-web, check_swagger, sqlite, postgres, mysql, codecov

Fix woodpecker-go (#2090)
  cli/repo/repo_sync.go
  woodpecker-go/woodpecker/client.go
  woodpecker-go/woodpecker/interface.go
Due: build-cli, build, securitycheck, deploy-preview, deploy-prepare, deploy, test, lint, vendor, lint-pipeline, dummy-web, check_swagger, sqlite, postgres, mysql, codecov

Allow to disable swagger (#2093)
  cmd/server/flags.go
  cmd/server/server.go
  docs/docs/30-administration/10-server-config.md
  server/config.go
  server/router/router.go
  server/web/config.go
  web/src/components/layout/header/Navbar.vue
  web/src/compositions/useConfig.ts
  web/src/views/User.vue
Due: build-cli, build, securitycheck, deploy-preview, deploy-prepare, deploy, forgejo, forgejo-wait, test, lint, vendor, lint-pipeline, dummy-web, check_swagger, sqlite, postgres, mysql, codecov, deps, formatcheck, typecheck

Rename key
  web/src/assets/locales/en.json
  web/src/components/layout/header/Navbar.vue
  web/src/views/User.vue
Due: test, lint, deps, formatcheck, typecheck

Fix translation key
  web/src/components/pipeline-feed/PipelineFeedItem.vue
Due: test, lint, deps, formatcheck, typecheck

Update translation structure
  web/components.d.ts
  web/src/assets/locales/en.json
  web/src/components/layout/header/Navbar.vue
  web/src/components/user/UserAPITab.vue
  web/src/components/user/UserGeneralTab.vue
  web/src/views/User.vue
Due: test, lint, deps, formatcheck, typecheck

remove old component
  web/components.d.ts
Due: test, lint, deps, formatcheck, typecheck

Add header
  web/src/assets/locales/en.json
  web/src/components/user/UserAPITab.vue
  web/src/components/user/UserGeneralTab.vue
Due: test, lint, deps, formatcheck, typecheck

Unified design
  web/src/assets/locales/en.json
  web/src/components/user/UserAPITab.vue
  web/src/components/user/UserGeneralTab.vue
Due: test, lint, deps, formatcheck, typecheck

Report problems with listening to ports and exit
  cmd/server/server.go
Due: test, lint, vendor, lint-pipeline, dummy-web, check_swagger, sqlite, postgres, mysql, codecov

Update web/src/components/user/UserAPITab.vue
  web/src/components/user/UserAPITab.vue
Due: test, lint, deps, formatcheck, typecheck

client.go: Backport fix RepoPost path (#2100)
  woodpecker-go/woodpecker/client.go
Due: test, lint, vendor, lint-pipeline, dummy-web, check_swagger, sqlite, postgres, mysql, codecov

Rename id to `general`
  web/src/views/User.vue
Due: test, lint, deps, formatcheck, typecheck

Fix version in FAQ
  docs/src/pages/faq.md
Due: build-cli, build, securitycheck, deploy-preview, deploy-prepare, deploy

Update docs/src/pages/faq.md
  docs/src/pages/faq.md
Due: build-cli, build, securitycheck, deploy-preview, deploy-prepare, deploy

Fix version in FAQ (#2101)
  docs/src/pages/faq.md
Due: build-cli, build, securitycheck, deploy-preview, deploy-prepare, deploy
