Repository woodpecker-ci/woodpecker: changes, and which Woodpecker steps are due for each by the changed paths.
All: build-cli, build, securitycheck, deploy-preview, deploy-prepare, deploy, forgejo, forgejo-wait, test, set-version, lint, release, test-schema, lxc, vendor, lint-pipeline, dummy-web, check_swagger, lint-license-header, sqlite, postgres, mysql, codecov, deps, formatcheck, typecheck

Path conditions:
  build-cli: any of: docs/**, .woodpecker/docs.yml, cli/**, cmd/cli/**
  build: any of: docs/**, .woodpecker/docs.yml, cli/**, cmd/cli/**
  securitycheck: any of: docs/**, .woodpecker/docs.yml, cli/**, cmd/cli/**
  deploy-preview: any of: docs/**, .woodpecker/docs.yml, cli/**, cmd/cli/**
  deploy-prepare: any of: docs/**, .woodpecker/docs.yml, cli/**, cmd/cli/**
  deploy: any of: docs/**, .woodpecker/docs.yml, cli/**, cmd/cli/**
  forgejo: any of: .woodpecker/forgejo.yml, server/forge/forgejo/**, cmd/server/flags.go, cmd/server/setup.go, contrib/woodpecker-test-repo/*
  forgejo-wait: any of: .woodpecker/forgejo.yml, server/forge/forgejo/**, cmd/server/flags.go, cmd/server/setup.go, contrib/woodpecker-test-repo/*
  test: (any of: .woodpecker/forgejo.yml, server/forge/forgejo/**, cmd/server/flags.go, cmd/server/setup.go, contrib/woodpecker-test-repo/*) or (any of: .woodpecker/test.yml, .golangci.yml, **/*.go, go.*, pipeline/schema/**) or (any of: .woodpecker/web.yml, web/**, server/api/**)
  set-version: any of: charts/**, .woodpecker/helm.yml
  lint: (any of: charts/**, .woodpecker/helm.yml) or (any of: .woodpecker/test.yml, .golangci.yml, **/*.go, go.*, pipeline/schema/**) or (any of: .woodpecker/web.yml, web/**, server/api/**)
  release: any of: charts/**, .woodpecker/helm.yml
  test-schema: any of: server/pipeline-schema/**
  lxc: any of: .woodpecker/lxc.yml, pipeline/backend/lxc/**
  vendor: any of: .woodpecker/test.yml, .golangci.yml, **/*.go, go.*, pipeline/schema/**
  lint-pipeline: (any of: .woodpecker/test.yml, .golangci.yml, **/*.go, go.*, pipeline/schema/**) or (any of: .woodpecker/**, pipeline/schema/**)
  dummy-web: any of: .woodpecker/test.yml, .golangci.yml, **/*.go, go.*, pipeline/schema/**
  check_swagger: any of: .woodpecker/test.yml, .golangci.yml, **/*.go, go.*, pipeline/schema/**
  lint-license-header: any of: .woodpecker/test.yml, .golangci.yml, **/*.go, go.*, pipeline/schema/**
  sqlite: any of: .woodpecker/test.yml, .golangci.yml, **/*.go, go.*, pipeline/schema/**
  postgres: any of: .woodpecker/test.yml, .golangci.yml, **/*.go, go.*, pipeline/schema/**
  mysql: any of: .woodpecker/test.yml, .golangci.yml, **/*.go, go.*, pipeline/schema/**
  codecov: any of: .woodpecker/test.yml, .golangci.yml, **/*.go, go.*, pipeline/schema/**
  deps: any of: .woodpecker/web.yml, web/**, server/api/**
  formatcheck: any of: .woodpecker/web.yml, web/**, server/api/**
  typecheck: any of: .woodpecker/web.yml, web/**, server/api/**

docs: yaml cheatsheet for advanced syntax
  docs/versioned_docs/version-1.0/20-usage/35-advanced-yaml-syntax.md
Due: build-cli, build, securitycheck, deploy-preview, deploy-prepare, deploy

add repo full name to header
  web/src/views/repo/pipeline/PipelineWrapper.vue
Due: test, lint, deps, formatcheck, typecheck

add margin
  web/src/views/repo/pipeline/PipelineWrapper.vue
Due: test, lint, deps, formatcheck, typecheck

adjust mobile view for the header
  web/src/components/layout/scaffold/Header.vue
  web/src/components/layout/scaffold/Tabs.vue
  web/src/views/repo/RepoWrapper.vue
  web/src/views/repo/pipeline/PipelineWrapper.vue
Due: test, lint, deps, formatcheck, typecheck

fix mixed padding
  web/src/components/layout/FluidContainer.vue
  web/src/components/repo/pipeline/PipelineLog.vue
  web/src/components/repo/pipeline/PipelineStepList.vue
Due: test, lint, deps, formatcheck, typecheck

Translated using Weblate (French)
  web/src/assets/locales/fr.json
Due: test, lint, deps, formatcheck, typecheck

Fix mobile login view
  web/src/views/Login.vue
Due: test, lint, deps, formatcheck, typecheck

Fix button loading spinner when activating repos
  web/src/views/RepoAdd.vue
Due: test, lint, deps, formatcheck, typecheck

Show correct event in pipeline step list
  web/src/components/repo/pipeline/PipelineStepList.vue
Due: test, lint, deps, formatcheck, typecheck

Fix button loading spinner when activating repos (#2333)
  web/src/views/RepoAdd.vue
Due: test, lint, deps, formatcheck, typecheck

Fix mobile login view (#2332)
  web/src/views/Login.vue
Due: test, lint, deps, formatcheck, typecheck

Add min height to mobile pipeline view and fix overflow
  web/src/components/repo/pipeline/PipelineStepList.vue
  web/src/views/repo/pipeline/Pipeline.vue
Due: test, lint, deps, formatcheck, typecheck

use static min height to take effect on small screens only
  web/src/views/repo/pipeline/Pipeline.vue
Due: test, lint, deps, formatcheck, typecheck

Fix grid column size in pipeline log view
  web/src/components/repo/pipeline/PipelineLog.vue
Due: test, lint, deps, formatcheck, typecheck

cleanup
  web/src/components/repo/pipeline/PipelineLog.vue
Due: test, lint, deps, formatcheck, typecheck

Fix grid column size in pipeline log view (#2336)
  web/src/components/repo/pipeline/PipelineLog.vue
Due: test, lint, deps, formatcheck, typecheck

Add min height to mobile pipeline view and fix overflow (#2335)
  web/src/components/repo/pipeline/PipelineStepList.vue
  web/src/views/repo/pipeline/Pipeline.vue
Due: test, lint, deps, formatcheck, typecheck

Show correct event in pipeline step list (#2334)
  web/src/components/repo/pipeline/PipelineStepList.vue
Due: test, lint, deps, formatcheck, typecheck

Add org list
  cmd/server/docs/docs.go
  pipeline/rpc/proto/woodpecker.pb.go
  server/api/orgs.go
  server/forge/mocks/forge.go
  server/router/api.go
  server/store/datastore/org.go
  server/store/mocks/store.go
  server/store/store.go
  web/components.d.ts
  web/src/assets/locales/en.json
  web/src/components/admin/settings/AdminOrgsTab.vue
  web/src/lib/api/index.ts
  web/src/views/admin/AdminSettings.vue
Due: test, lint, vendor, lint-pipeline, dummy-web, check_swagger, lint-license-header, sqlite, postgres, mysql, codecov, deps, formatcheck, typecheck

fix copyright
  server/api/orgs.go
Due: test, lint, vendor, lint-pipeline, dummy-web, check_swagger, lint-license-header, sqlite, postgres, mysql, codecov, deps, formatcheck, typecheck

fix category
  cmd/server/docs/docs.go
  server/api/orgs.go
Due: test, lint, vendor, lint-pipeline, dummy-web, check_swagger, lint-license-header, sqlite, postgres, mysql, codecov, deps, formatcheck, typecheck

remove grpc changes
  pipeline/rpc/proto/woodpecker.pb.go
Due: test, lint, vendor, lint-pipeline, dummy-web, check_swagger, lint-license-header, sqlite, postgres, mysql, codecov

fix rsp obj
  cmd/server/docs/docs.go
  server/api/orgs.go
Due: test, lint, vendor, lint-pipeline, dummy-web, check_swagger, lint-license-header, sqlite, postgres, mysql, codecov, deps, formatcheck, typecheck

fix swagger again...
  cmd/server/docs/docs.go
  server/api/orgs.go
Due: test, lint, vendor, lint-pipeline, dummy-web, check_swagger, lint-license-header, sqlite, postgres, mysql, codecov, deps, formatcheck, typecheck

update grpc
  pipeline/rpc/proto/version.go
  pipeline/rpc/proto/woodpecker.pb.go
  pipeline/rpc/proto/woodpecker_grpc.pb.go
Due: test, lint, vendor, lint-pipeline, dummy-web, check_swagger, lint-license-header, sqlite, postgres, mysql, codecov

Rename func
  server/api/orgs.go
  server/store/datastore/org.go
  server/store/mocks/store.go
  server/store/store.go
Due: test, lint, vendor, lint-pipeline, dummy-web, check_swagger, lint-license-header, sqlite, postgres, mysql, codecov, deps, formatcheck, typecheck

update code
  agent/rpc/client_grpc.go
  server/grpc/server.go
Due: test, lint, vendor, lint-pipeline, dummy-web, check_swagger, lint-license-header, sqlite, postgres, mysql, codecov

Add org list (#2338)
  cmd/server/docs/docs.go
  server/api/orgs.go
  server/forge/mocks/forge.go
  server/router/api.go
  server/store/datastore/org.go
  server/store/mocks/store.go
  server/store/store.go
  web/components.d.ts
  web/src/assets/locales/en.json
  web/src/components/admin/settings/AdminOrgsTab.vue
  web/src/lib/api/index.ts
  web/src/views/admin/AdminSettings.vue
Due: test, lint, vendor, lint-pipeline, dummy-web, check_swagger, lint-license-header, sqlite, postgres, mysql, codecov, deps, formatcheck, typecheck

Show that repo is disabled
  server/api/badge.go
  server/api/user.go
  web/src/assets/locales/en.json
  web/src/views/RepoAdd.vue
Due: test, lint, vendor, lint-pipeline, dummy-web, check_swagger, lint-license-header, sqlite, postgres, mysql, codecov, deps, formatcheck, typecheck

add hover class
  web/src/views/RepoAdd.vue
Due: test, lint, deps, formatcheck, typecheck

fix add to docs/docs
  docs/docs/20-usage/35-advanced-yaml-syntax.md
Due: build-cli, build, securitycheck, deploy-preview, deploy-prepare, deploy

fix undo change to docs/versioned-docs
  docs/versioned_docs/version-1.0/20-usage/35-advanced-yaml-syntax.md
Due: build-cli, build, securitycheck, deploy-preview, deploy-prepare, deploy

Fix org fetching
  server/forge/gitea/gitea.go
Due: test, lint, vendor, lint-pipeline, dummy-web, check_swagger, lint-license-header, sqlite, postgres, mysql, codecov

fix lint
  server/forge/gitea/gitea.go
Due: test, lint, vendor, lint-pipeline, dummy-web, check_swagger, lint-license-header, sqlite, postgres, mysql, codecov

docs: yaml cheatsheet for advanced syntax (#2329)
  docs/docs/20-usage/35-advanced-yaml-syntax.md
Due: build-cli, build, securitycheck, deploy-preview, deploy-prepare, deploy

Fix org fetching (#2343)
  server/forge/gitea/gitea.go
Due: test, lint, vendor, lint-pipeline, dummy-web, check_swagger, lint-license-header, sqlite, postgres, mysql, codecov

Use Badge instead of link
  web/src/views/RepoAdd.vue
Due: test, lint, deps, formatcheck, typecheck

Update grpc generated code (#2339)
  agent/rpc/client_grpc.go
  pipeline/rpc/proto/version.go
  pipeline/rpc/proto/woodpecker.pb.go
  pipeline/rpc/proto/woodpecker_grpc.pb.go
  server/grpc/server.go
Due: test, lint, vendor, lint-pipeline, dummy-web, check_swagger, lint-license-header, sqlite, postgres, mysql, codecov

fix prettier
  web/src/views/RepoAdd.vue
Due: test, lint, deps, formatcheck, typecheck

Show that repo is disabled (#2340)
  server/api/badge.go
  server/api/user.go
  web/src/assets/locales/en.json
  web/src/views/RepoAdd.vue
Due: test, lint, vendor, lint-pipeline, dummy-web, check_swagger, lint-license-header, sqlite, postgres, mysql, codecov, deps, formatcheck, typecheck
